# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Jupyter / IPython
.ipynb_checkpoints/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Test / coverage files
.pytest_cache/
.coverage
htmlcov/

# Build / packaging
build/
dist/
*.egg-info/